name: Smoke Test

on:
  - push
  - pull_request

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '^3.10'

      - name: Install solidation
        run: python -m pip install .

      - name: Run solidation
        run: solidation -c solidation.yaml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
